// Place all the styles related to the puzzles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import url(//fonts.googleapis.com/css?family=Raleway);
@import url(//fonts.googleapis.com/css?family=Asap:400,700italic);
@import url(//fonts.googleapis.com/css?family=Bree+Serif);

.container{
    font-family: "Raleway";
}

.title {
    margin-bottom: 30px;
}

.logo {
    margin:50px;
    width: 50px;
    height:50px;
}

p.red {
    color: red;
}

body {
    background-image: url('contemporary_china.png');
}

.whitetext {
    color: white;
}

.well.tan {
    background-color: #FFB652;
    }

.well.blue {
    background-color: #94C7E5;
}

.well.darkblue {
    background-color: #A4DDFF;
}

.well.red {
    background-color: #FF4444;
}

.well.green {
    background-color: #cbdeab;
}

.well.white {
    background-color: white;
}

.well.brown {
    background-color: #bc8b76;
}

.jumbotron.blue {
    margin-top:30px;
    background-color: #7BA6BF;
    font-family: 'Bree Serif', sans-serif;
}

.jumbotron.brown {
    background-color: #B26700;
}

.result_image {
    margin:10px;
    height: 200px;
    width: 350px;
    border-radius: 25px;
}
