<h1><%= @puzzle.clue%></h1>

<% if @puzzle.solved == true %>
<h2> <%= @puzzle.answer %> !!!</h2>
<h2>NICE! You solved it!</h2>
<% else %>
<h2>Sorry, that's not the answer</h2>
<%= link_to "Try again?", puzzles_path, class: "btn btn-default" %>
<% end %>



